
<!doctype html>
<html lang="en" ng-app="neilApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="css/main.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
	</head>
	<body ng-controller="newCtrl">
		bookmark: <input type='text' ng-model="post">
		description: <input type='text' ng-model="description">
		<button ng-click="clear()" >Clear</button>
		<button ng-click="save()" >Save</button>
		<hr>
			Preview:
		{{post}}:{{description}}	
	
		<script src="js/neil.js" type="text/javascript"></script>
	</body>
</html>