
body {

    margin: 0 auto;

    text-align: center;

}

div {

    margin: 10px 0;

}

.container {

    margin-top: 150px;

    border-width: 2px 0;

    border-style: solid;

}

.result-container {

    margin: 20px 0;

}

button {

    margin: 5px;

    width: 50px;

    font-weight: bolder;

}