<div class="countries">
	<div class="panel panel-default">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Country Code</th>
				<th>Capital</th>
				<th>Area in Km2</th>
				<th>Population</th>
				<th>Continent</th> 
			</tr>

			<tr ng-repeat="country in countries" class="countries-row" data-ng-click="go('/country/'+country.countryCode)">
					<td>{{country.name}}</td>
					<td>{{country.countryCode}}</td>
					<td>{{country.capital}}</td>
					<td>{{country.area | number}}</td>
					<td>{{country.population | number}}</td>
					<td>{{country.continent}}</td>
			</tr>
		</table>
	</div>
	<hr>
	<button ng-click="go('/')">Home</button>
</div>