.jumbotron{
	font-size: 3em;	
	border-bottom: solid black 2px;
	
}
.fluid-container{
	text-align: center;
}

.home{
	padding:50px 100px;
}

.countries{
	margin: 0 auto;
	width:70%;
}


tr>th{
	text-align: center;	
	border-bottom: 2px solid black;
}
.country-details {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.country-img {
	display: inline;
	width:250px;
	height: 150px; 
}



.country-left {
	float: left;
	text-align: right;
	
}
.country-right {
	float: right;
	text-align: left;
	font-siz:1.5em;
}
div.country-left,div.country-right{
	font-size: 1.5em;
	line-height: 2em;
}


