.madlib-container {
	margin-top: 50px;  
	text-align: center;
	border: solid 2px;
	padding: 10px;
}
.madlib-header	{
	border-bottom:  solid 2px;	
}
.img-responsive{
	margin: 0 auto;
}
.madlib-title{
	font-size: 3em;
	font-family: cursive;
}

.logo {
	border-right: solid #000 2px;
}


.madlibs-story {
font-size: 2em;
margin: 50px 50px;
text-align: left;
}


.error {
	height: 25px;
	color: #FF0000;
	text-align: left;
}
