
.waitstaff{
	border: solid 2px;
}
.waitstaff-meal-detail {
	height: 500px;
}


.waitstaff-sub-title {
	font-size:  1.5em;
}

.waitstaff-title {
	font-size: 4em;
	margin-top: 50px;
}

.waitstaff-items {
	margin: 10px 0;
}

.waitstaff-cutomer-charge {
	height: 250px;
}

.waitstaff-my-earning {
	height: 235px;
}

.border-bottom {
	border-bottom: solid 1px;
}

.col-centered {
margin: 0 auto;
}
